
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Container Background */
.create-order {
    max-width: 800px;
    margin: 20px auto;
    background: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

/* 2-Column Grid for the Form */
.form-content {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    gap: 20px;
}

/* Make certain fields span full width (like Registration or Image) */
.full-width {
    grid-column: span 2;
}
/* Label Styling */
.lable-field label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    color: #334155;
    font-size: 0.9rem;
}

/* Input & Select Styling */
.form-input, select {
    width: 90%;
    padding: 12px 15px;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    font-size: 1rem;
    transition: all 0.3s ease;
    background-color: #f8fafc;
}

.form-input:focus, select:focus {
    outline: none;
    border-color: #2563eb;
    background-color: #fff;
    box-shadow: 0 0 0 4px rgba(37, 99, 235, 0.1);
}
.input-error {
    border-color: #f87171;
}

/* Submit Button */
.enabled-button {
    grid-column: span 2;
    background-color: #e77700;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 10px;
}
  .btn-logout-simple{
    background: transparent ;
    border: none ;
    color: #64748b ;
    font-weight: 600 ;
    cursor: pointer ;
    font-size: 0.9rem ;
    transition: 0.2s ;
}

.enabled-button:hover {
    background-color: #994f00;
}

/* Responsive: 1 column on mobile */
@media (max-width: 600px) {
    .form-content {
        grid-template-columns: 1fr;
    }
    .full-width {
        grid-column: span 1;
    }
    .enabled-button {
        grid-column: span 1;
    }
}